* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;

}
html, body {
    width: 100%;
    overflow-x: hidden;
}
header h2 {
    display: flex;
    align-items: center;
    color: white;
    filter: drop-shadow(3px 3px 10px grey);
}
header {
    opacity: 2;
    backdrop-filter: blur(10px);
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 2.2em;
}
header img {
    vertical-align: center;
    height: 10vh;
    width: auto;
}
.logo {
    display: flex;
    flex-direction: row;

}
.shadow {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: anim 90s linear infinite;

}
@keyframes anim{
    0%{background-position: 0;}
    100%{background-position: 5440px;}
}
.main-cont {
    display: flex;
    justify-content: center;
}
.my-blur {
    opacity: 2;
    backdrop-filter: blur(10px);
}
.cards-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}
.card {
    background-color: #6c757d;
    margin-bottom: 30px;
}
.card-body {
    padding: 3px;
}
.card img {
    max-width: 100%;
    height: auto;
}
.card-hover {
    transition: transform 0.3s ease; /* Добавляем анимацию для плавного масштабирования */
}

.card-hover:hover {
    transform: scale(1.05); /* Масштабируем элемент при наведении */
}

.carousel-item {
    background-color: #6c757d;
}
.card-body p {
    font-size: 1.2em
}
.card-body h2 {
    font-size: 2.2em
}
.card-body h5 {
    font-size: 1.8em
}
.box{
    opacity: 1;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: black;
}

.search{
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
}
input.search::placeholder {
    color: black;
}
/*.road-icons {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    vertical-align: center;*/
/*}*/
/*.ri-login-box-line {*/
/*    padding-right: 10px;*/
/*    color: darkred;*/
/*}*/

body {
    font-size: 16px;
}
.footer-link i {
    font-size: 3em;
    color: #333; /* Цвет иконок */
}

/* Дополнительные стили для контейнера иконок */
.footer-link {
    margin: 30px;
    text-decoration: none; /* Убираем подчеркивание для ссылок */
}

/* Стили для футера */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c757d;
    padding: 0 20px; /* Отступы по краям */
    height: 20vh;
}

@media (max-width: 766px) {
    .footer-link i {
        font-size: 3em;
        color: #333; /* Цвет иконок */
    }

    /* Дополнительные стили для контейнера иконок */
    .footer-link {
        margin: 10px;
        text-decoration: none; /* Убираем подчеркивание для ссылок */
    }

    /* Стили для футера */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #6c757d;
        padding: 0 20px; /* Отступы по краям */
        height: 20vh;
    }

}
/* Для средних экранов, например, планшетов */
@media (min-width: 768px) and (max-width: 990px) {
    body {
        font-size: 20px;
    }
    .card-body {
        padding: 5px;
    }
    .card img {
        width: 250%;
        height: auto;
    }
    .cards-list {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;
    }
    .card {
        background-color: #6c757d;
        margin-bottom: 20px;
    }
    .my-blur {
        opacity: 100;
        backdrop-filter: blur(10px);
    }
    input.search::placeholder {
        color: black;
        font-size: 20px;
        height: 15vh;
    }
}

.my-learning ul {
    list-style: none;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-us {
    font-size: 25px;
}
/* Стиль для иконок */
/* Стиль для увеличенных иконок */
